

input#profileID(type='hidden', value="")

.container

	br

	br

	br

	br

	.row.step-menu

		.col-xs-2

		.col-xs-8

			.cont-step-menu#step1Menu
				span.active-color(style='font-weight:900; display:inline-block; font-size:24px;') &#149;
				span.active-color(style='font-weight:300; font-size:24px; text-decoration: line-through; vertical-align:top; display:inline-block; margin-top:3px;') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				br
				span.cont-step-menu-text.active-color
					a.jump-step(href="#", data-next="step1", style="color:#3cb878") Imagen de Perfil

			.cont-step-menu#step2Menu
				span(style='font-weight:900; display:inline-block; font-size:24px;') &#149;
				span(style='font-weight:300; font-size:24px; text-decoration: line-through; vertical-align:top; display:inline-block; margin-top:3px;') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				br
				span.cont-step-menu-text
					a.jump-step(href="#", data-next="step2", style="color:#3cb878") Datos Personales

			.cont-step-menu#step3Menu
				span(style='font-weight:900; display:inline-block; font-size:24px;') &#149;
				span(style='font-weight:300; font-size:24px; text-decoration: line-through; vertical-align:top; display:inline-block; margin-top:3px;') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				br
				span.cont-step-menu-text
					a.jump-step(href="#", data-next="step3", style="color:#3cb878") Intereses

			.cont-step-menu.last#step4Menu
				span(style='font-weight:900; display:inline-block; font-size:24px;') &#149;
				span
				br
				span.cont-step-menu-text.last
					a.jump-step(href="#", data-next="step4", style="color:#3cb878") Amigos y Proyectos

	.container.step-container#step1

		br
		.row.steps
			.col-xs-3
			.col-xs-6

				h3.steps-title ¡Bienvenido
					.profile-name
					|!
				p.welcome-text Es un placer conocerte

				#avatarUpload.centered.avatar-step-1

					img#avatarUploadImage.avatar.img-circle(src="")

				p.instructions-text Arrastra tu imagen de perfil o selecciona un archivo
					br
					br
					br
					a.steps-button.jump-step.pull-left(href='#', data-next="step2") SALTAR
					a.steps-button.continue.pull-right(href='#', data-next="step2") CONTINUAR

	.container.step-container#step2(style="display:none")

		br
		.row.steps
			.col-xs-3
			.col-xs-6

				h3.steps-title Comparte quién eres

				p.welcome-text Háblame de ti
				br
				br

				.input-group
					.input-group-addon
						.cont-icon-web
							i.icon-link
					input#stepsWeb.form-control.form-element(type="text", placeholder="Tu sitio web", value="")
				br

				.input-group
					.input-group-addon
						.cont-icon-facebook
							i.icon-facebook
					input#stepsFacebook.form-control.form-element(type="text", placeholder="Facebook", value="")
				br

				.input-group
					.input-group-addon
						.cont-icon-twitter
							i.icon-twitter
					input#stepsTwitter.form-control.form-element(type="text", placeholder="Twitter", value="")
				br

				.input-group
					.input-group-addon
						.cont-icon-gplus
							i.icon-gplus
					input#stepsGoogle.form-control.form-element(type="text", placeholder="Google+", value="")
				br

				.input-group
					.input-group-addon
						.cont-icon-instagram
							i.icon-instagram
					input#stepsInstagram.form-control.form-element(type="text", placeholder="Instagram", value="")
				br

				textarea#stepsAbout.about.form-element(placeholder='Escribe algo sobre ti')
					=""

				.location
					input#stepsLocation.form-element(type='text', placeholder="Ubicación" value="")

				br
				br

				a.steps-button.jump-step.pull-left(href='#', data-next="step3") SALTAR
				a.steps-button.continue.pull-right(href='#', data-next="step3") CONTINUAR

	.container.step-container#step3(style="display:none")

		br
		.row.steps
			.col-xs-3
			.col-xs-6

				h3.steps-title Intereses

				p.welcome-text Esta sección es muy importante.
				p.welcome-text Dependiendo de las palabras clave que ingreses podremos hacerte recomendaciones, invitarte a eventos y compartir contenidos seleccionados especialmente para ti. Entre más información nos des, mejores serán nuestras sugerencias.
				br

				textarea#stepsInterestsList.about(
					type="text",
					name="interests",
					placeholder='Ingresa las palabras clave',
					style='background-color:white;border:1px solid black;width:570px;height:180px;'
				)

				br
				br
				a.steps-button.jump-step.pull-left(href='#', data-next="step4") SALTAR
				a.steps-button.continue.pull-right(href='#', data-next="step4") CONTINUAR

	.container.step-container#step4(style="display:none")

		br
		.row.steps
			.col-xs-1
			.col-xs-10

				h3.steps-title Amigos y Proyectos

				p.welcome-text Conoce la comunidad del CCD.

				p.welcome-text Habemos programadores, diseñadores, artistas, cineastas, videoartistas, músicos, artistas visuales, hackers, makers, animadores, dj's, vj's, poetas, escritores, bailarines, coreógrafos, cientificos, hacktivistas, tecnólogos, tecnofetichistas, críticos de la tecnología, pensadores, locutores, melomanos y todas nuestras creaciones.
				br
		.row
			.col-xs-6

				h5.users-step-title Usuarios

				//- - var i = 0
				//- - var run = true
				//- while run
				//- 	.row
				//- 		.col-xs-6
				//- 			if locals.users[i]
				//- 				.step-img.pull-left
				//- 					img.avatar.img-circle.dz-clickable(src=locals.users[i].avatar)
				//- 				.user-step-container
				//- 					a.user-step-name(href=locals.users[i].url)= locals.users[i].nickname
				//- 					a.follow-friend.pull-left(href="#" data-action="follow-user" data-id=locals.users[i].id data-nickname=locals.users[i].nickname) Seguir
				//- 			else
				//- 				- run = false;
				//- 		- i++;
				//- 		.col-xs-6
				//- 			if locals.users[i]
				//- 				.step-img.pull-left
				//- 					img.avatar.img-circle.dz-clickable(src=locals.users[i].avatar)
				//- 				.user-step-container
				//- 					a.user-step-name(href=locals.users[i].url)= locals.users[i].nickname
				//- 					a.follow-friend.pull-left(href="#" data-action="follow-user" data-id=locals.users[i].id data-nickname=locals.users[i].nickname) Seguir
				//- 			else
				//- 				- run = false;
				//- 		- i++;
				//- 	br

			.col-xs-6

				h5.projects-step-title Proyectos

				//- - var i = 0
				//- - var run = true
				//- while run
				//- 	.row
				//- 		.col-xs-6
				//- 			if locals.projects[i]
				//- 				.step-img.pull-left
				//- 					img.avatar.dz-clickable(src=locals.projects[i].cover)
				//- 				a.user-step-name(href=locals.projects[i].url)= locals.projects[i].name
				//- 				a.follow-friend.pull-left(href="#" data-action="follow-project" data-id=locals.projects[i].id data-name=locals.projects[i].name) Seguir
				//- 			else
				//- 				- run = false;
				//- 		- i++;
				//- 		.col-xs-6
				//- 			if locals.projects[i]
				//- 				.step-img.pull-left
				//- 					img.avatar.dz-clickable(src=locals.projects[i].cover)
				//- 				a.user-step-name(href=locals.projects[i].url)= locals.projects[i].name
				//- 				a.follow-friend.pull-left(href="#" data-action="follow-project" data-id=locals.projects[i].id data-name=locals.projects[i].name) Seguir
				//- 			else
				//- 				- run = false;
				//- 		- i++;
				//- 	br
		br
		br
		.row
			.col-xs-4
			.col-xs-4
				a.internal.steps-button.continue.pull-left.col-xs-10#stepsComplete(href='/dashboard') VER MI PERFIL