#navSearch input{border-radius:8px;width:800px;margin-left:324px;padding:8px;margin-top:15px}
@media screen and (max-width:1224px){ #navSearch input{width:600px} }
@media screen and (max-width:1024px){ #navSearch input{width:500px} }
@media screen and (max-width:866px){ #navSearch input{width:500px} }
@media screen and (max-width:792px){ #navSearch input{width:400px} }
// @media screen and (max-width:768px){ #navSearch input{width:100%;margin-right:auto;margin-top:10px} }
