
@import "./variables/general.less";

@import "bootstrap/bootstrap.less";
@import "fuelux/fuelux.less";

body {
font-family: "brandon-grotesque",sans-serif;
font-style: normal;
display:block;
position:absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: auto;
letter-spacing:4px;
font-weight:200
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
font-family: "brandon-grotesque",sans-serif;
font-style: normal
}

h1, h2, h3, h4, h5, h6 {
letter-spacing: 2px
}

h4 {
font-weight: 300;
text-transform: uppercase;
line-height: 1.5em;
font-size: 1.1em
}

p {
letter-spacing: 1px

}

a {
color: #aeaeae;
text-decoration: none
}

ul, ol {
margin-top: 0;
margin-bottom: 10px;
-webkit-padding-start: 0
}

ul li {
list-style: none
}

td {
background-color: white
}

th.fc-day-header.fc-widget-header.fc-tue {
color: white;
background-color: rgb(56, 56, 56);
font-weight: 400
}

::-webkit-input-placeholder {
color: black
}

:-moz-placeholder { /* Firefox 18- */
color: black
}

::-moz-placeholder {/* Firefox 19+ */
color: black
}

:-ms-input-placeholder {
color: black
}

.btn-primary {
color: #fff;
background-color: #3cb878;
border: none;
font-family: "brandon-grotesque", sans-serif;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 0px;
padding: 10px
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color: #339663
}

.btn-default {
color: #333;
background-color: #DBDBDB;
border-radius: 0;
padding: 10px;
text-transform: uppercase;
letter-spacing: 2px
}

#modal_confirm .modal-dialog {
width: 485px;
}

.dropdown-menu {
position: absolute;
top: 23px;
right: 11px!important;
z-index: 1000;
display: none;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
font-size: 13px;
text-align: left;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
box-shadow: 0 6px 12px rgba(0,0,0,0.175);
background-clip: padding-box;
float: none
}

.dropdown-menu>li>a {
display: block!important;
padding: 2px 9px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #353535!important;
text-align: left;
background-color: white;
cursor: pointer;
text-decoration: none;
text-transform: none;
letter-spacing:1px
}

/* This parent can be any width and height */
.block {
text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -0.25em
}

/* The element to be centered, can
also be of any width and height */
.centered {
display: inline-block;
vertical-align: middle;
width: 300px
}

a {
color: #FFFFFF;
text-decoration: none
}

a:hover {
color: #FFFFFF;
text-decoration: underline
}

.nav-login {
background-color: rgba(240, 248, 255, 0)!important
}

#body {
padding-top: 120px
}

textarea:focus, input:focus{
outline: 0
}

#header {
margin-top: 30px
}

#footer {
padding-top: 30px;
color: white;
font-weight: 900
}

.navbar-header a {
color: white!important
}

#canvas {
width: 100%;
height: 100%;
position: fixed;
top: 0px;
left: 0px;
background-color: #2841fe;
z-index: -1000
}

.welcome-form{text-align:center}

.welcome-form-button {
background: rgba(0, 0, 92, 0.46);
margin-top:26px;
padding: 20px;
border: 2px solid #00005c;
border-radius: 0px;
letter-spacing:2px
}

h1.welcome-title {
font-size: 4em;
letter-spacing: 7px;
color: white
}

h3.welcome-text {
letter-spacing: 1px;
font-weight: 100;
color: white
}

.welcome-buttons {
margin-top: 50px
}

a.welcome-button {
padding: 20px;
margin-top: 20px;
background: rgba(0,0,92,0.46);
border: 2px solid #00005c;
margin-right: 10px;
text-decoration: none;
font-weight: 400;
transition-duration:2000ms;
color: white!important
}

a.welcome-button:hover, .welcome-form-button:hover {
background-color: rgba(0, 0, 92, 1);
border: 2px solid #00005c
}

.container{
margin-top:85px;
text-align:center
}

/*
// custom checkbox
.checkbox-custom:before{
border:1px solid white;
}
.checkbox-custom:before.checked{
border:1px solid white;
background-color:none;
}
*/

// customized alerts

.alert-general{
padding: 10px;
margin-bottom: 20px;
border: 1px solid transparent;
margin-top: 24px;
position: absolute;
width: 100%;
border-radius: 0px
}

.alert-dismissible .close {
position: relative;
top: 0px;
right: 0px;
color: inherit
}

.dropdown-menu>li>a {
display: block!important;
padding: 2px 9px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #353535!important;
text-align: left;
background-color: white
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
text-decoration: underline;
color: #3cb878;
background-color: white
}

.dropdown-menu:before {
position: absolute;
top: -7px;
left: 9px;
display: inline-block;
border-right: 7px solid transparent;
border-bottom: 7px solid #CCC;
border-left: 7px solid transparent;
border-bottom-color: rgba(0, 0, 0, 0.2);
content: ''
}

.dropdown-menu:after {
position: absolute;
top: -6px;
left: 10px;
display: inline-block;
border-right: 6px solid transparent;
border-bottom: 6px solid white;
border-left: 6px solid transparent;
content: ''
}

.dropdown-menu:before, .dropdown-menu.pull-right:before {
right: 12px;
left: auto
}

.dropdown-menu::after, .dropdown-menu.pull-right:after {
right: 13px;
left: auto
}

.open>.dropdown-menu {
display: block;
border-radius: 0
}

h3.welcome {
color: white!important
}

.login-social p {
color: white!important
}

.login-social a {
color: white!important
}

.login-forget a {
color: white!important
}

.login-create-account a {
color: white!important
}

h1.sign-out {
color: white!important
}

p.sign-out-text {
color:white!important;
letter-spacing: 1px
}

a.sign-out-link{
color:white!important
}

/* HOVER EFFECTS */

.hvr-underline-from-center {
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
position: relative;
overflow: hidden
}
.hvr-underline-from-center:before {
content: "";
position: absolute;
z-index: -1;
left: 50%;
right: 50%;
bottom: 0;
background: #2098d1;
height: 4px;
-webkit-transition-property: left, right;
transition-property: left, right;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
left: 0;
right: 0
}

.small-avatar {
width: 53px;
width: 53px
}

.left-block {
min-height: 600px;
width: 768px;
background-color: white;
margin-top: 5px;
float: left;
margin-left: 16px;
position: relative
}

.right-block {
width: 271px;
float: left;
margin-left: 30px
}

h3.username {
font-size: 1.1em;
color: #333;
letter-spacing: 1px;
margin-bottom: 5px
}

h6.date {
color: grey;
text-align: left;
font-size: .6em;
letter-spacing: 1px;
margin-top: 4px;
margin-bottom: 0
}

a:focus {
color: white;
text-decoration: underline
}

.editable form button {
border: none;
color: white;
background-color: #3cb878!important;
margin: 1px
}

.popover {
border: none!important;
border-radius: 0
}

.popover-title {
margin: 0;
padding: 8px 14px;
font-size: 14px;
font-weight: 500;
line-height: 18px;
background-color: #fff;
border-radius: 0;
color: black;
width: auto;
border: 0;
text-align: center;
}

.popover-content {
padding: 0
}

