
h3.welcome {
color: white!important;
margin-bottom: 20px;
}

.login-social p {
color: white!important;
}

.login-social a {
color: white!important;
}

.login-forget a {
color: white!important;
letter-spacing:1px
}

.login-create-account a {
color: white!important;
letter-spacing:1px
}


.vertical-align h3 {
	color: white
}

.vertical-align p {
	font-weight: 300;
	color: white
}
