
.cont-step-menu{transition-duration:1200ms}

body.steps {
background-color: #f9f9f9
}

a.steps-button.jump-step {
background-color: #363636;
padding: 15px 55px;
letter-spacing: 2px;
font-weight: 400;
text-decoration: none;
color: white!important;
margin-left: 0;
margin-left: 100px
}

a.steps-button.continue {
background-color: #3cb878;
padding: 15px 45px;
letter-spacing: 2px;
font-weight: 400;
text-decoration: none;
color: white!important;
margin-right: 100px
}

a.user-step-name {
color: #333;
text-transform: capitalize!important;
letter-spacing: 1px;
display: inline-block;
text-align: left;
float: left;
font-size: .8em;
padding: 10px 0px 5px 10px;
font-weight: 400;
text-decoration: none;
width: 225px
}

.avatar-step-1 img {
width: 200px;
height: 200px;
}

h5.users-step-title {
text-align: left
}

h5.projects-step-title {
text-align: left
}

h3.steps-title {
font-size: 2.5em;
color: #252525
}

h4.project-step-name {
display: inline-block;
padding-left: 0;
text-transform: capitalize;
font-weight: 500;
margin-top: 5px;
margin-bottom: 0px;
margin-left: -47px
}

h4.user-step-name {
padding-left: 67px;
text-transform: capitalize;
font-weight: 500;
margin-top: 5px;
margin-bottom: 4px;
margin-left: 0;
letter-spacing: 1px;
font-size: 0.9em;
margin-left: 0;
text-align: left
}

p.welcome-text {
color: #252525;
font-weight: 400;
font-size: 1.3em;
margin-bottom: 0px;
line-height: 2em
}

h3.steps-title {
font-size: 2.5em;
color: #252524
}

p.instructions-text {
color: #252525;
font-weight: 500;
letter-spacing: 1px!important
}

.cont-step-menu {
display: inline-block;
margin-left: 10px;
margin-right: -5px;
color: #cccccc
}

.cont-step-menu.last {
margin-left: -45px;
vertical-align: top
}

span.cont-step-menu-text.last {
margin-left: 0
}

span.cont-step-menu-text {
letter-spacing: 1px;
margin-left: -157px;
font-weight: 300
}

.active-color {
color: #3cb878
}


textarea.about {
width: 100%;
min-height: 161px;
border: 1px solid #414141;
padding: 10px;
font-weight: 400;
font-size: 1.2em;
}

.location input {
width: 100%;
height: 57px;
border: 1px solid #414141;
padding-left: 10px;
font-weight: 400;
font-size: 1.1em
}

.tags-box input {
width: 100%;
padding: 10px;
margin-bottom: 23px;
border: 1px solid #414141;
height: 60px;
font-weight: 400;
font-size: 1.2em
}

.step-img img {
width: 55px;
height: 55px;
padding: 0
}

a.follow-friend {
display: inline-block;
text-align: left;
padding: 3px 6px;
float: left;
margin-left: 10px;
color: white!important;
background-color: #3cb878;
text-transform: uppercase;
font-size: .7em;
text-decoration: none;
letter-spacing: 2px
}

.steps-bg {
background-color: #f9f9f9;
background-image: none
}

.tags-box {
letter-spacing: 1px;
font-weight: 500
}

.user-step-container {
float:left;
width:215px
}
