
.container

	.vertical-align

		script(type='text/paperscript' canvas='canvas' src='/js/views/home.js' charset='utf-8')

		h1.welcome-title COMUNIDAD CCD

		h3.welcome-text Comparte, conectate y aprende con nosotros.

		.welcome-buttons

			a.internal.welcome-button(href='/auth/login', style='color:white;')
				| INGRESAR

			a.internal.welcome-button(href='/account/create', style='color:white;')
				| REGISTRARME
