#alertCenter a {margin-top:9px}

.alertCenter-dropdown {
color: black;
padding-left: 4px;
top: 69px;
left: auto!important;
right: 110px;
height: 280px;
overflow-x: scroll;
width: 400px
}

.alertCenter-dropdown-action {
text-align:center;
width:49.99%;
display:inline-block!important
}

.alertCenter-badge{
display:inline-block;
min-width:10px;
padding: 3px 3px 6px 6px;
font-size:12px;
font-weight:bold;
color:#fff;
line-height:0.98;
white-space:nowrap;
text-align:center;
background-color:#f00;
border-radius:16px;
margin:3px -9px;
vertical-align:top;
z-index:30000;
position:relative
}

#alertCenterReport{
position: fixed
}

.alertCenter-dropdown-action{
text-align: center;
width:100%;
display: inline-block!important
}

.alertCenter-alert{
padding:4px
}

.alertCenter-alertContent{
font-size:.9em
}

.alertCenter-alertDate{
font-size:.9em;
font-weight:900;
font-weight:0.96;
float:right;
letter-spacing: 1px
}

.alert-warning {
background-color: rgba(252, 248, 227, 0);
border-color: rgba(252, 248, 227, 0);
color: red;
text-align: center
}
