.container

	.vertical-align

		h3.welcome INGRESA

		p.login-error(style='color:red')

		div.login-form

			form#loginForm(action='/gate/local', method='POST')

				input(type='hidden', name='action', value='login')
				br

				input(type='text', name='username', placeholder='Correo electronico.', autocomplete="off")
				br

				input(type='password', name='password' placeholder='Contraseña')
				br

				button.internal.welcome-form-button.btn.btn-primary(type='submit')
					| INGRESAR

		br

		div.login-social
			p Ingresar con
				a(href='/gate/facebook', style='color:white;') FACEBOOK
				| o
				a(href='/gate/google', style='color:white;') GOOGLE+

		div.login-forget
			a.internal(href='/account/recover', style='color:white; display:inline-block; padding: 0 5px;') Olvide mi contraseña
			p(style="display:inline-block") &#149;
			a(href='/account/create' style="padding: 0 5px;").internal Crear una Cuenta
			//- a(href='../about' style="display:block;") Conocer más
