header

	a.internal.brand-logo(href='/')
		img(src='/images/logo-white.png')

	.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")

		.navbar-header

			.nav.navbar-nav

				#navSearch

			ul.nav.navbar-nav.navbar-right#navRight

	a(href="#")
		button.navbar-toggle.nav-login(type='button' style='display:block')
			span.icon-bar
			span.icon-bar
			span.icon-bar