
.container

	.vertical-align

		h3.welcome CREA TU CUENTA

		div.welcome-form

			form#formSignin(action='/account/create', method='post', role='form')

				input#name(type='text', name='name', placeholder='tu nombre completo', autocomplete="off", required="", data-parsley-minlength="3", data-parsley-trigger="change", data-parsley-validate-if-empty="")

				br

				input#email(type='text', name='email', placeholder='tu@correo.com', autocomplete="off", required="", data-parsley-type="email", data-parsley-minlength="7", data-parsley-trigger="change", data-parsley-validate-if-empty="")

				br

				input#password(type='password', name='password', placeholder='Contraseña', required="", data-parsley-minlength="8", data-parsley-trigger="change", data-parsley-validate-if-empty="")

				br

				input#passwordRetype(type='password', name='password', placeholder='Repite tu contraseña', required="", data-parsley-equalto='#password', data-trigger="change focusout", data-parsley-validate-if-empty="")

				br

				.checkbox#conditionsCheckbox

					label.checkbox-custom(data-initialize="checkbox")

						input#conditions.sr-only(type='checkbox', name='conditions', value='', required, data-parsley-trigger="change", data-parsley-validate-if-empty="")

						span.checkbox-label Acepto las condiciones de uso

				button#formSigninSubmit.internal.btn.btn-primary.welcome-form-button(type='submit')
					| CREAR CUENTA

		div.register-social

			br

			p Registrate con

				a(href='#', style='color:white;') FACEBOOK

				|  o

				a(href='#', style='color:white;') GOOGLE+

		div.login-forget

			p ¿Ya tienes una cuenta?

			a(href='/auth/login').internal Ingresa aquí
