.panel.panel-default.profile-feed(class=css||'')

	.feed-post-create(class=css2||'')

		textarea.feed-post-textarea#feedEditorTextarea(data-owner='')

		.feed-post-controls

			a.btn.btn-default.upload-image.pull-left(style='display:inline-table')
				span.glyphicon.glyphicon-picture

			#feedEditorThumbs(style='display:inline-table;float:left;margin-top:6px;color:red!important')

			a.post-feed-action.btn.btn-default.btn-info.pull-right#feedEditorPublish
				| PUBLICAR
