// custom checkbox
.checkbox-custom:before{
border:1px solid white;
}

.checkbox-custom:before.checked{
border:1px solid white;
background-color:red;
}

span.checkbox-label {
letter-spacing: 1px;
color: white;
}

.register-social p {
color: white;
}

.register-social a {
color: white;
}

.login-forget p {
color: white;
}

.welcome-form input::-webkit-input-placeholder {
color: white;
}

.welcome-form input:-moz-placeholder { /* Firefox 18- */
color: white;
}

.welcome-form input::-moz-placeholder {  /* Firefox 19+ */
color: white;
}

.welcome-form input:-ms-input-placeholder {
color: white;
}

.parsley-errors-list.filled>li {
letter-spacing: 1px;
color: red;
font-weight: 300
}

ul.parsley-errors-list {
  margin-bottom: 0
}

.welcome-form input, .login-form input {
background-color: rgba(0,0,0,0);
border: 0px;
border-bottom: 1px solid white;
margin-top: 0px;
margin-bottom: 12px;
text-align: center;
color: white;
font-size: 20px;
outline: 0;
width: 420px
}
