

// css for packery

.container{
border-left:auto;
border-right:auto;
width:1170px;
margin-top:20px;
padding:0px;
}

#dashboard-grid .grid-sizer {
width:25%;
}

.item-dashboard{
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.item-dashboard .panel-default{
/*height:100%;*/
}

.bloch1{
height:200px;
}

.bloch2{
height:400px;
}

.bloch3{
height: 600px;
}

.bloch4{
height:800px;
}

.bloch5{
height:1000px;
}

#dashboard-grid .item-dashboard.blocw1{
width: 270px;
}

#dashboard-grid .item-dashboard.blocw2{
width:570px
}

#dashboard-grid .item-dashboard.blocw3{
width:75%
}

#dashboard-grid .item-dashboard.blocw4{
width:100%
}

.item-cont {
min-height: 200px;
padding: 0px;
}

.item-cont a {;
}

.profile-contacts-item {
margin-top: 17px;
}



