
//- include ../../../mixin/window/view
//- include ../../../mixin/window_profile/view
//- include ../../../mixin/window_projects/view
//- include ../../../mixin/window_directory/view
//- include ../../../mixin/window_bookmarks/view
//- include ../../../mixin/window_agenda/view
//- include ../../../mixin/window_feed/view

//- include ../../../mixin/modal_map/view
//- include ../../../mixin/modal_project_new/view
//- include ../../../mixin/modal_user_info/view

.container

	#dashboard-grid

		.row
			.col-md-3

				//- +window_profile({
				//- 	profile: locals.profile,
				//- 	isFriend: locals.isFriend,
				//- 	ownprofile: locals.ownprofile,
				//- 	avatar: locals.avatar,
				//- 	isProfile: locals.isProfile
				//- })

			.col-md-6

				//- +window_feed({
				//- 	feed: locals.feed,
				//- 	profile: locals.profile,
				//- 	avatars: locals.directory.avatars,
				//- 	thumb: locals.thumb,
				//- 	slug: locals.profile.slug,
				//- 	isProfile: locals.isProfile
				//- })

			.col-md-3

				//- +window_projects({
				//- 	profile: locals.profile,
				//- 	projects: locals.projects,
				//- 	slug: locals.profile.slug,
				//- 	isProfile: locals.isProfile
				//- })

				//- +window_agenda({
				//- 	agenda: locals.agenda,
				//- 	profile: locals.profile,
				//- 	slug: locals.profile.slug,
				//- 	isProfile: locals.isProfile
				//- })

				//- +window_directory({
				//- 	directory: locals.directory,
				//- 	slug: locals.profile.slug,
				//- 	isProfile: locals.isProfile
				//- })

				//- +window_bookmarks({
				//- 	bookmarks: locals.bookmarks,
				//- 	profile: locals.profile,
				//- 	slug: locals.profile.slug,
				//- })

				//- +modal_map()

				//- +modal_project_new()

				//- +modal_user_info({
				//- 	title: locals.profile.nickname,
				//- 	about: locals.profile.about
				//- })
