
li.dropdown#profileCenter

	a(href='#', data-toggle="dropdown", title="")

		img#profileCenterAvatar(src='/images/noavatar.png', height='32px', width='32px').img-circle

		span.badge.profileCenter-badge.hidden 0

	ul.dropdown-menu.profileCenter-dropdown(role="menu", aria-labelledby="profileCenter")

		li
			a.internal(href='/profile/dashboard') Ir a perfil

		li
			a.internal(href='/profile/settings') Configuracion

		li
			a.internal(href='/profile/privacy') Privacidad

		li.admin-link.hidden
			a.internal(href='/admin') Panel de administracion

		li.divider

		li
			a.internal#profileCenterLogout(href='/auth/logout') Logout
