.profileCenter-dropdown {
top: 69px;
right: 66px!important;
}

.profileCenter-dropdown-action {
text-align: center;
width:49.99%;
display: inline-block!important
}

.profileCenter-badge{
position:absolute;
left:8px;
top:8px;
font-size:10px;
background-color:red;
height:18px;
width:32px;
padding-top: 2px
}
