
li.dropdown#alertCenter

	a(href='#', data-toggle="dropdown")
		span.glyphicon.glyphicon-bell
			span.badge.alertCenter-badge.hidden 0

	ul.dropdown-menu.alertCenter-dropdown(role="menu", aria-labelledby="alertCenter") Notificaciones

		li.divider
