.checkbox {

	&.highlight {
		padding: 4px;

		&.checked {
			background: #e9e9e9;
			border-radius: @baseBorderRadius;
		}
	}

	/* for keyboard tabbing */
	input[type="checkbox"]:focus + .checkbox-label,
	input[type="checkbox"]:hover + .checkbox-label,
	.checkbox-label:hover {
		color: white;
	}

}

.form-horizontal .checkbox-inline {
	padding-top: 0;
}

.input-group-addon.checkbox-custom.checkbox-inline:before {
	left: 11px;
	top: 9px;
}

.checkbox-custom {
	position: relative;

	&:before
	{
		.iconBaseStyles("Glyphicons Halflings");
		border: 2px solid white;
		border-radius: @baseBorderRadius;
		color: #fff;
		content: " ";
		font-size: 10px;
		height: 14px;
		left: 0px;
		padding: 0px 0px 0px 0px;
		position: absolute;
		top: 3px;
		width: 14px;
	}

	&.checked {
		&:before {
			// background: #39b3d7;
			border-color: #fff;
			content: "\e013";
		}
	}

	&.disabled {
		cursor: not-allowed;

		&:before
		{
			cursor: not-allowed;
			opacity: .5;
		}
	}

	&.missing{
		&:before
		{
			border:1px solid red;
		}
	}

	&.checkbox-inline {
		&:before {
			left: 0;
			top: 3px;
		}

		&.highlight {
			padding: 4px 4px 4px 24px;

			&:before {
				left: 0px;
				top: 0px;
			}

			&.checked {
				background: #e9e9e9;
				border-radius: @baseBorderRadius;
			}
		}
	}

	/* for keyboard tabbing */
	input[type="checkbox"]:focus + .checkbox-label {
		color: white;
	}

}