.brand-logo{z-index:10000;width:177px;height:84px;position:fixed;top:14px;left:15px}
.brand-logo:hover+.navbar{opacity:0.2}
.navbar{transition-duration:1200ms;opacity:0.01;height:84px}
.navbar-show{opacity:1}
.navbar-toggle {z-index:10000;border:0px;margin-right:0px;background-color:#363636;height:70px;border-radius:0;position:fixed;right:0;top:0}
.navbar-toggle>.icon-bar{background-color:white}
.navbar:hover{opacity:0.2}
.navbar-header{float:none!important;}
#navRight{margin-right:52px;margin-top:6px}