.post-feed-action.btn-info {
color: white!important;
background-color: #3CB878;
border-radius: 0px;
padding: 11px 25px;
letter-spacing: 3px;
font-size: 0.8em;
position: absolute;
right: 0;
bottom: 0;
}

.post-feed-action.btn-info:hover {
background-color: #339663;
}

.feed-post-controls {
display: block;
margin-top: -5px;
position: relative;
height: 37px;
background-color: #e6e6e6;
width: 100%;
margin-left: 0px;
}

.panel.panel-default.profile-feed.dashboard-feed {
width: 565px;
margin-bottom: 10px;
}

#profileDashboardFeed {
width: 565px!important;
}

.panel.panel-default.profile-feed {
margin-bottom: 10px;
position: absolute;
width: 565px;
}

.dz-success-mark, .dz-error-mark, .dz-progress, .dz-size, .dz-filename, .dz-error-message { display: none }

a.dz-remove {
margin-top:-34px;
margin-left:6px;
position:absolute;
font-weight:900;
color:red!important
}

.feed-editor-thumbs{
display: inline-table;
float: left;
margin-top: 6px;
color: red!important
}

textarea.feed-post-textarea {
width: 100%;
min-height: 35px;
border-bottom: 1px solid grey;
color: black;
font-weight: 400;
padding: 10px;
border: none;
margin-left: 0;
margin-top:  0px;
margin-bottom:  0px;
height:  194px;
transition-duration:750ms
}

.panel-default.profile-feed>.panel-body {
border: 0px;
background-color: rgba(255,255,255,0);
height: 100%;
overflow: scroll;
}


.btn-default {
color: #333;
border: none
}

a.btn.btn-default.upload-image {
background: none;
margin-top: 3px;
color: grey!important
}

a.btn.btn-default.upload-image:hover {
background: none;
opacity: .7;
border:none;
}

.dz-preview.dz-image-preview {
display: inline-table;
margin-right: 4px
}


