
doctype html

html(lang="es")

	head

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Comunidad
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/css/styles.css" type="text/css" rel="stylesheet" )

	body.fuelux.dashboard-bg

		#UINavBar

		canvas#canvas(resize='')

		#mainApp

		if locals.env == 'development'
			script(src="//localhost:35729/livereload.js" async)


		script(src="http://maps.google.com/maps/api/js?libraries=places&sensor=true" async)

		script(src="/client/build/app.js" async)

		script(src="/libs/geocomplete.js" async)