
.modal#qEd

	.modal-dialog

		.modal-content

			.modal-header

				button(type="button" class="close" data-dismiss="modal" aria-label="Close")

				span(aria-hidden="true") &times;

				h4.modal-title#qEdTitle

			.modal-body#qEdBody

			.modal-footer#qEdFooter

				button(type="button" class="btn btn-default" data-dismiss="modal") Close

				button(type="button" class="btn btn-primary") Save changes
